
  <img src="https://tiy-durham-june2014-frontend.github.io/iron-slides/images/tiy-logo.png" alt="IRON YARD and Smashing Boxes logo" height="104" width="200" />
  <h1>Welcome to The IRON YARD powered by Smashing<br> Boxes.</h1>
  <h2>Learn to code. Get a job. Guaranteed.</h2>
    <p><strong>The Iron Yard Academy</strong> teaches intensive, three-month courses that mentor you into a professional junior-<br>level programmer. Our program goes far beyond tactical skills and teaches you to think like a <em>software<br> engineer</em>. Programming is a lifelong study, and our process shows you to learn how to <em>learn so you remain<br> highly valuable for the rest of your career.</em></p>
  <h2>Locations</h2>
